body {
    background: url(../Imagenes/imagen\ pan.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    
    


}

.titulo{
    color: crimson;
    text-align: center;
    font-family: cursive;
    font-size: 5em;

}
.galeria{
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    list-style-type: none;
    float:left
    
    
}



.v{font-size: 50px;
    list-style-type:none;
    padding: 0;


}

.volver{
    position: relative;
    top: 40px;
    right: 1000px;


}

a{
    text-align: none;

}

a input{
    display:inline-block;
    font: size 100px;
    width: 200px;
    height: 100px;
    padding: auto;
    font-size: 25px;
    font-family:cursive;
    background-color:cyan;
    border:solid 2px burlywood
    
}


